
/* my laout */

.page-header {
    color: white;
    background-color:#2C3E50 ;
}

.hamburger-menu {
    font-size: 22px;
    line-height: 32px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px;
}

section:nth-child(odd) {
    background-color: #1ABC9C;
}

.ms-card-image {
    width: 226px;
}

.ms-card-portfolio_image {
    max-width: 492px;
}

.ms-button {
    line-height:43px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.ms-input-text {
    width: 100%;
    line-height: 40px;
    border: none;
    border-bottom: 1px solid #DFDFDF;
}

.ms-input-button {
    background-color: #1ABC9C;
    color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    line-height: 45px;
    padding:0 20px;
}

.social-icon {
    font-size: 20px;
    line-height: 40px;
    width: 43px;
    border-radius: 999px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

.page-footer  .section-footer {
    background-color:#3A546D ;
}

.page-footer .section-footer-copyright {
    background-color: #2C3E50;
}























/* debug */

.debug .row {
    border: 2px solid springgreen;
    padding: 10px;
}

.debug [class^='col'] {
    border: 2px solid red;
    padding: 10px;
}